<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1002270145809-hk5qgdruq4ek0qsuc6bsfv0r6i2k747b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002270145809-hk5qgdruq4ek0qsuc6bsfv0r6i2k747b</string>
	<key>API_KEY</key>
	<string>AIzaSyC2rIaUr4GOe2g_E2jx57Wd8ieQZCWKkbw</string>
	<key>GCM_SENDER_ID</key>
	<string>1002270145809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.assetInspections</string>
	<key>PROJECT_ID</key>
	<string>cp-asset-inspections</string>
	<key>STORAGE_BUCKET</key>
	<string>cp-asset-inspections.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002270145809:ios:32f5f927c33b6f876560b0</string>
</dict>
</plist>